Minor improvements to contributors section

On March 6 Jürgen Schönwälder wrote on the subject "WG Last Call: draft-ietf-netmod-yang-module-versioning-05"

"""
9. Contributors

  - Typo 'Discussons'

  - Perhaps just list the names of the contributors comma separated
    instead of making this a longish list.
"""

Consider proposed edits.


I would say that all contributors should instead be listed with full contact
info. (As an example, see https://www.rfc-editor.org/rfc/rfc8446#page-153 .)

Quoting RFC 7332 Section 4.11 Contributors Section

> At the discretion of the author(s), contact addresses may also be included
   in the Contributors section, for those contributors whose knowledge
   makes them useful future contacts for information about the RFC.  The
   format of any contact information should be similar to the format of
   information in the Author's Address section.