Is changing the ordering of nodes an NBC change?

RFC 6020 allows the ordering of nodes to be changed, RFC 7950 section 11 does not.  What is the right answer here?  RFC/action needs to be considered, as per https://tools.ietf.org/html/rfc7950#section-7.5.7

The current direction of the solution (e.g. the schema comparison draft) and the specification in the module revision draft, is that the ordering of data nodes should not matter, except for RFC parameters.  I propose that we take this position for the moment and close this issue.

> The current direction of the solution (e.g. the schema comparison draft) and the specification in the module revision draft, is that the ordering of data nodes should not matter, except for RFC parameters. I propose that we take this position for the moment and close this issue.

Rob, sounds good to me.

Agree

From: Reshad-Rahman <notifications@github.com>
Sent: Wednesday, November 13, 2019 8:57 AM
To: netmod-wg/yang-ver-dt <yang-ver-dt@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [netmod-wg/yang-ver-dt] Is changing the ordering of nodes an NBC change? (#6)


The current direction of the solution (e.g. the schema comparison draft) and the specification in the module revision draft, is that the ordering of data nodes should not matter, except for RFC parameters. I propose that we take this position for the moment and close this issue.

Rob, sounds good to me.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/netmod-wg/yang-ver-dt/issues/6?email_source=notifications&email_token=AETQE7ZVOTW7M77VOJVD4FTQTQBSBA5CNFSM4G4LRSKKYY3PNVWWK3TUL52HS4DFVREXG43VMVBW63LNMVXHJKTDN5WW2ZLOORPWSZGOED6HA5Y#issuecomment-553414775>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/AETQE732KRVVMH7N2B7DPALQTQBSBANCNFSM4G4LRSKA>.


June 30th meeting: allow reordering of nodes except where 7950 mandates order. e.g. input/output for actions/RPCs. Updating section 11 7950.

Addressed in https://tools.ietf.org/html/draft-ietf-netmod-yang-module-versioning-01#section-3.1.1