Remove "Resolving ambiguous imports in YANG library"

T5. Resolving ambiguous imports in YANG library (Sec 5.1)
Removed. This will be removed from Module Versioning (could be considered in YANG Next, although that is many years away).  Note, RFC 7950, section 5.6.5, paragraph 5 does consistently define how to build the schema.  The change in the draft was to always prioritise an implemented module over the most recent implemented *or* import-only revision. But this will be removed.
